<h3 class="flex">
  <span>Ticket left = {{user.ticket}}</span>
  <span>Score = {{user.score}}</span>
</h3>
<div class="container">
<p>button1</p>
<button (click)="ticketOne()" class="btn btn-primary btn-block">
    1T
  </button>
<!-- </div> -->
<!-- <div class="card card-container"> -->
    <p>button2</p>
    <button (click)="ticketFive()" class="btn btn-primary btn-block">
        5T
      </button>
<!-- </div> -->
<!-- <div class="card card-container"> -->
    <p>button3</p>
    <button (click)="ticketTen()" class="btn btn-primary btn-block">
        10T
      </button>
</div>
